/* body */
body { width: 100%; height: 100vh; background: url("/hfc2_html_v1/images/game-bg.png") no-repeat center; background-size: cover;}
/* //body */

/* header */

header { width: 100%; height: 50px; background-color: rgba(0, 0, 0, 0.4);}
nav { width: 1024px; height: 50px; line-height: 50px; margin: 0 auto;}
.winningRate { width: 200px; height: 50px; float: left; margin-left: 30px;}
.winningRate ul { width: 200px; height: 50px;}
.winningRate ul li { font-size: 14px; color: #FFFFFF; margin-right: 20px; float: left;}
.loginInfo { width: 200px; height: 50px; float: right; margin-right: 30px;}
.loginInfo ul { width: 200px; height: 50px;}
.loginInfo ul li { font-size: 14px; color: #FFFFFF; margin-left: 20px; float: left;}
.loginInfo ul li a { color: #FFFFFF; font-weight: bold;}

/* //header */